<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layout/head.ejs", {title:"Danh sách sản phẩm"}) %>
    <link rel="stylesheet" href="/static/site/css/main.css">
    <link rel="stylesheet" href="/static/site/css/cate.css">
    <script src="/static/site/js/jquery-3.6.0.js"></script>
    <script src="/static/site/js/index.js"></script>
</head>

<body>

    <!-- header -->
    <div id="header">
        <%- include("layout/header.ejs") %>
        <%- include("layout/menu.ejs") %>
    </div>
    <!-- container -->
    <div id="container">
    <div class="container__hotdeal">
        <div class="container__hotdeal-header-text">
            Kết quả tìm kiếm : <%=keyword%>
         </div>
        <div class="container__hotdeal-main">
            <div class="product-list card-deck">
                <%for(let product of products){%>
                    <%- include("component/product_item.ejs", {product: product})%>
                <%}%>
            </div>
        </div>
    </div>
    </div>
</div>
    <%- include("layout/footer.ejs") %>

    

</div>
</body>

</html>